.individual-container {
  display: block;
  flex-direction: column;
  margin: 0 auto;
  width: fit-content;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: black;
  font-family: "Callie Chalk Font", sans-serif;
  background-color: #d9d9d9;
}

.position-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: max-width;
  margin-top: 0;
  padding: 1em;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  padding: 1em;
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  align-self: flex-start; /* Add this line */
}
