.login-button-container {
  margin: 1em;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
}

.logout-button-container {
  margin: 1em;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 5px;
}
